@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

[data-theme='EN'] {
  --background: theme('colors.white');
  --background-secondary: theme('colors.gray.800');
  --bg-header-background:theme('colors.blue.300');
 
  --accent-medium: theme('colors.gray.100');
  

  --primary-dark: theme('colors.gray.300');
  --primary-medium: theme('colors.gray.200');
  --primary-light: theme('colors.gray.100');
}

[data-theme='FR'] {
  --background: theme('colors.white');
  --background-secondary: theme('colors.amber.600');
  --bg-header-background:theme('colors.slate.800');
  --accent-dark: theme('colors.emerald.900');
  --accent-medium: theme('colors.gray.700');
  --accent-light: theme('colors.emerald.500');
}